@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body{
background-color: black;
color: green;
}

.nav-bar{
  display:flex;
  justify-content: space-evenly;
  font-family: 'Roboto Mono', monospace;
  border:solid 2px white;
}


.data{
  display:flex;
}


a{
text-decoration: none;
color:green;
}


.legend button{
  width:125px;
  color:green;
  background: none;
  font-family: 'Roboto Mono', monospace;
  font-size:22px;
}


.data p{
  width:125px;
  font-family: 'Roboto Mono', monospace;
  font-size:12px;
  text-align:center;

}

.one-flight{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap:wrap;
}


@media only screen and (max-width: 600px){
  .data :nth-last-child(1){
    font-size:0;
    }
    .data :nth-last-child(2){
      font-size:0;
      }
      .data{
        display:flex;
        flex-direction: column;
        align-items: center;
     
    
      }
      .data p{
        font-family: 'Roboto Mono', monospace;
        font-size:18px;
      }
      .data a{
       border-color:green;
      }
}
